{% extends "base.html" %}
{% block content %}
<div class="container mx-auto mt-8 px-4">
    <div class="space-y-4">
        <blockquote class="p-4 bg-purple-100 border-l-4 border-primary-dark">
            <p class="text-lg italic">"The human spirit is stronger than anything that can happen to it." - C.C. Scott</p>
        </blockquote>
        <blockquote class="p-4 bg-purple-100 border-l-4 border-primary-dark">
            <p class="text-lg italic">"Believe you can and you're halfway there." - Theodore Roosevelt</p>
        </blockquote>
        <blockquote class="p-4 bg-purple-100 border-l-4 border-primary-dark">
            <p class="text-lg italic">"Start where you are. Use what you have. Do what you can." - Arthur Ashe</p>
        </blockquote>
    </div>
    <div class="text-center mt-6">
        <a href="/start-therapy" class="px-6 py-2 bg-primaryDark text-white font-bold rounded hover:bg-purple-700 block sm:inline-block">
            Start Therapy
        </a>
    </div>
</div>
{% endblock content %}